header {
    background-color: #00c4cc;
    padding: 0px 30px;
    height: 250px;
    text-align: center;
    margin: -70px;
}

h1 {
    color: #c84e5a; 
    font-size: 100px;
    text-align: center;
}

h2 {
    color: rgb(225, 9, 9);
    text-align: center;
}

#headerLi {
    color: #c84e5a;
    display: inline-block;
    padding: 3px 15px;
    margin: 0px 100px;
    text-align: center;
    font-size: 40px;
}

.coupon-container .close {
    width: 24px;
    position: absolute;
    top: 15px;
    right: 16px;
    z-index: 2;
    cursor: pointer;
}

.coupon-container {
    position: relative;
    font-family: "Roboto", sans-serif;
    max-width: 350px;
    text-align: center;
    background: #f8cd12;
    margin: 100px auto 30px auto;

    opacity: 0;
    pointer-events: none;
    transform: translate(30px);
    transition: all 400ms ease;
}

.coupon-container.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0);
}

.coupon-container h2,
.coupon-container p,
.coupon-container .discount {
    position: relative;
    color: black;
}

.coupon-container h2 {
    color: #c84e5a;
    font-weight: 900;
    font-size: 30px;
}

.get-discount-btn {
    padding: 8px 32px;
    background: #f8cd12;
    color: #c84e5a;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    display: block;
    margin-top: -8cm;
}
img {
    display: inline-block;
    vertical-align: middle;
    display: block;
    margin-top: 1cm;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

.column {
    float: left;
    width: 18%;
    padding: 5px;
    margin-left: 4.3cm;
  }

.row::after {
    content: "";
    clear: both;
    display:table;
}

p {
    font-size: 200%;
    text-align: center;
    display: block;
}


footer {
    background-color: #00c4cc;
}
