header {
    background-color: #00c4cc;
    height: 5cm;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

h1 {
    color: #c84e5a; 
    font-size: 3cm;
    text-align: center;
}

nav {
    float: right;
    margin-top: -2cm;
}

nav ul {
    margin: 0%;
    padding: 0%;
}

nav li {
    display: inline-block;
    margin-right: 245px;
    color: #c84e5a;
    font-size: 1cm;
    text-align: center;
}

img {
    display: inline-block;
    vertical-align: middle;
    display: block;
    margin-top: 1cm;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

.column {
    float: left;
    width: 18%;
    padding: 5px;
    margin-left: 4.3cm;
  }

.row::after {
    content: "";
    clear: both;
    display:table;
}

p {
    font-size: 200%;
    text-align: center;
    display: block;
}

footer {
    background-color: #00c4cc;
}
